# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
flutter_*.log

# Packaging & Build Distribution
/dist/
.flatpak-builder/
flatpak/.flatpak-builder/
flatpak/repo/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Android
.gradle/
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
local.properties
*.keystore
*.jks
key.properties

# Ephemeral desktop & mobile platform files
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/

# Widget Preview
.widget_preview/
